[4/19/2026 11:55 AM] khålêÐ✌️👑 am._.o: <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darna.dz</title>
    <link rel="stylesheet" href="style.css">
</head>
<div>
    <header class="header">
        <div class="logo">
            <div class="menu-toggle">☰</div> <img src="https://i.postimg.cc/htCbVtzQ/logo.png" alt="logo">
        </div>
        <nav class="navBar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a  href="#ownerSection">Contact</a></li>
                <li><a href="#houses">Browse House</a></li>
                <li><a href="#addProperty">Sell your house</a></li>
            </ul>
        </nav>
         <div class="buttons-container">
    <a href="creat.html" class="btn create">Create Account</a>
    <a href="creat.html" class="btn login">Login </a>
</div>

 
</div>
    </header>
    <div class="main">
        <div class="main-content">
            <div class="text">
                <h1>When you're ready for a change, we're ready to help</h1>
                <p>Our team is here to support you every step of the way. Let's embark on this journey together and
                    create the future you desire!</p>
            </div>
            <div class="select">
                <div class="select-dropdown"> <select>
                        <option value="option 1">Djelfa</option>
                        <option value="option 2">tiarte</option>
                        <option value="option 3">Saïda</option>
                    </select> </div>
                <div class="select-dropdown"> <select>
                        <option value="option 1">Duplex House</option>
                        <option value="option 2">Triplex House</option>
                    </select> </div>
                <div class="select-dropdown"> <select>
                        <option value="option 1">$150.000 - $249.999</option>
                        <option value="option 2">$250.000 - $399.999</option>
                        <option value="option 3">$400.000 - $499.999</option>
                    </select> </div>
                <div class="select-btn"> <img src="https://i.postimg.cc/YCs7ZQLr/search.png" alt="icon"> </div>
            </div>
        </div>
        <div class="img"> <img src="https://i.postimg.cc/9Qr5dz8v/house-1.png" alt="image"> </div>
    </div>
    <div class="main2">
        <h1>Why choose us</h1>
        <div class="main-card">
            <div class="card">
                <div class="icon-img"> <img src="https://i.postimg.cc/QC4MxCdh/tax.png" alt="icon"> </div>
                <h3>Tax Advantages</h3>
                <p>When you choose our company, you can take advantage of various tax benefits, including mortgage
                    interest deductions, property tax deductions and depreciation benefits for rental properties</p>
            </div>
            <div class="card">
                <div class="icon-img"> <img src="https://i.postimg.cc/t4yXQF5W/property.png" alt="icon"> </div>
                <h3>Property insurances</h3>
                <p>We give to our customers insurances that includes protection for your home and personal belongings
                    from damages or theft and protection against damages caused by flooding, not typically covered by
                    homeowners insurance</p>
            </div>
            <div class="card">
                <div class="icon-img"> <img src="https://i.postimg.cc/8PN3T42p/com.png" alt="icon"> </div>
                <h3>Lowest Comission</h3>
                <p>We are proud to offer the lowest commissions to our valued customers! Your satisfaction is our
                    priority!</p>
            </div>
            <div class="card">
                <div class="icon-img"> <img src="https://i.postimg.cc/SxjgKvDh/money.png" alt="icon"> </div>
                <h3>Best Prices</h3>
                <p>We are proud to offer you the best prices in the market! Your dream home is just a click away. Let us
                    help you find it!</p>
[4/19/2026 11:55 AM] khålêÐ✌️👑 am._.o: </div>
        </div>
    </div>
 <div class="explore">
    <div class="img-exp"> 
        <img src="https://i.postimg.cc/QN7zcCLy/house-2.png" alt="image"> 
    </div>
    <div class="content-exp">
        <h2>We are all biochemically unique. Buying or selling your home should be, too</h2>
        <p>
            Just as our fingerprints are individual, so too are our needs and desires when it comes to finding the
            perfect home. The traditional, one-size-fits-all approach to real estate simply doesn't resonate with
            this truth. We take the time to truly understand your specific needs, aspirations, and anxieties,
            tailoring our services to create a personalized experience that reflects your individuality
        </p>

        <!-- هذا هو التصحيح -->
        <a href="#darna" class="btn-exp">Explore More</a>

    </div>
</div>
    <div class="houses" id="houses">
        <div class="content-house">
            <div class="text-house">
                <h2>Our trending latest property</h2>
                <p> Our latest listings feature properties in sought-after locations, with unique designs and
                    sustainable features that cater to the evolving preferences of buyers</p>
            </div>
            <div class="select-dropdown"> <select>
                    <option value="option 1">Buy</option>
                    <option value="option 2">Rent</option>
                </select> </div>
        </div>
        <div class="house-box">
            <div class="box">
                <div class="box-img"> <img src="https://i.postimg.cc/4NnLDwL7/card-1.png" alt="image"> </div>
                <div class="box-content">
                    <div class="box-text">
                        <h3>Contemporary Architectural Style House</h3>
                        <h3 class="price">$321.000</h3>
                    </div>
                    <div class="rooms">
                        <div class="room"> <img src="https://i.postimg.cc/fLGc1jJX/bed.png" alt="icon">
                            <p>3 Bedrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Bvt26wFH/bath.png" alt="icon">
                            <p>3 Bathrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Wp0ghZdW/kitchen.png" alt="icon">
                            <p>1 Kitchen</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/MGcjxfkY/area.png" alt="icon">
                            <p>1000 Sq. Fit</p>
                        </div>
                    </div>
                    <div class="box-btn">
                        <div class="view"> <button class="btn">View Details</button> </div>
                        <div class="share">
                            <div class="share-box"> <img src="https://i.postimg.cc/CL1hWTpG/like.png" alt="icon"> </div>
                            <div class="share-box"> <img src="https://i.postimg.cc/vBhyNXP2/share.png" alt="icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-img"> <img src="https://i.postimg.cc/L50pH5Fz/card-2.png" alt="image"> </div>
                <div class="box-content">
                    <div class="box-text">
                        <h3>Minimalist Contemporary Architectural Style House</h3>
                        <h3 class="price">$360.000</h3>
                    </div>
                    <div class="rooms">
                        <div class="room"> <img src="https://i.postimg.cc/fLGc1jJX/bed.png" alt="icon">
                            <p>4 Bedrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Bvt26wFH/bath.png" alt="icon">
                            <p>3 Bathrooms</p>
                        </div>
[4/19/2026 11:55 AM] khålêÐ✌️👑 am._.o: <div class="room"> <img src="https://i.postimg.cc/Wp0ghZdW/kitchen.png" alt="icon">
                            <p>1 Kitchen</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/MGcjxfkY/area.png" alt="icon">
                            <p>1150 Sq. Fit</p>
                        </div>
                    </div>
                    <div class="box-btn">
                        <div class="view"> <button class="btn">View Details</button> </div>
                        <div class="share">
                            <div class="share-box"> <img src="https://i.postimg.cc/CL1hWTpG/like.png" alt="icon"> </div>
                            <div class="share-box"> <img src="https://i.postimg.cc/vBhyNXP2/share.png" alt="icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-img"> <img src="https://i.postimg.cc/52BRgyKn/card-3.png" alt="image"> </div>
                <div class="box-content">
                    <div class="box-text">
                        <h3>Mediterranean Colonial Style House</h3>
                        <h3 class="price">$310.000</h3>
                    </div>
                    <div class="rooms">
                        <div class="room"> <img src="https://i.postimg.cc/fLGc1jJX/bed.png" alt="icon">
                            <p>4 Bedrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Bvt26wFH/bath.png" alt="icon">
                            <p>4 Bathrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Wp0ghZdW/kitchen.png" alt="icon">
                            <p>1 Kitchen</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/MGcjxfkY/area.png" alt="icon">
                            <p>1300 Sq. Fit</p>
                        </div>
                    </div>
                    <div class="box-btn">
                        <div class="view"> <button class="btn">View Details</button> </div>
                        <div class="share">
                            <div class="share-box"> <img src="https://i.postimg.cc/CL1hWTpG/like.png" alt="icon"> </div>
                            <div class="share-box"> <img src="https://i.postimg.cc/vBhyNXP2/share.png" alt="icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-img"> <img src="https://i.postimg.cc/g2gBQQdZ/card-4.png" alt="image"> </div>
                <div class="box-content">
                    <div class="box-text">
                        <h3>Mid-century Modern Residential Style House</h3>
                        <h3 class="price">$495.000</h3>
                    </div>
                    <div class="rooms">
                        <div class="room"> <img src="https://i.postimg.cc/fLGc1jJX/bed.png" alt="icon">
                            <p>5 Bedrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Bvt26wFH/bath.png" alt="icon">
                            <p>4 Bathrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Wp0ghZdW/kitchen.png" alt="icon">
                            <p>1 Kitchen</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/MGcjxfkY/area.png" alt="icon">
                            <p>1600 Sq. Fit</p>
                        </div>
                    </div>
                    <div class="box-btn">
                        <div class="view"> <button class="btn">View Details</button> </div>
                        <div class="share">
[4/19/2026 11:55 AM] khålêÐ✌️👑 am._.o: <div class="share-box"> <img src="https://i.postimg.cc/CL1hWTpG/like.png" alt="icon"> </div>
                            <div class="share-box"> <img src="https://i.postimg.cc/vBhyNXP2/share.png" alt="icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clients">
        <div class="left">
            <div class="img-cust"> <img src="https://i.postimg.cc/bNPjx730/clients.png" alt="image" class="customer">
            </div>
        </div>
        <div class="right">
            <h2>What our clients are saying</h2>
            <p>I am pleased and blessed with my experience with Real Estate. They have the most professional and kindest
                team. Real Estate went above and beyond, and I am so grateful for their help</p>
            <div class="name">
                <h4>Alonso Bloodworth</h4>
                <p>9236 Valley Rd.Quakertown, PA 18951</p>
            </div>
        </div>
    </div>
    <div class="owner"id="ownerSection"  >
        <div class="owner-text">
            <h2>Are you a property owner?</h2>
            <p>Put your email address and get listed</p>
        </div>
        <div class="subscribe">
            <form id="subscribeForm"> <img src="https://i.postimg.cc/hjKYYd32/send.png" alt="icon"> <input type="email"
                    id="emailInput" spellcheck="false" placeholder="Enter your email"> <input type="submit"
                    value="Submit" id="search"> </form>
        </div>
    </div>
    <div class="clients">
        <div class="left">
            <div class="img-cust"> <img
                    src="images/pngtree-a-3d-modeled-house-in-a-shopping-cart-with-a-sold-image_3762453.jpg" alt="image"
                    class="customer"> </div>
        </div>
        <div class="right">
            <h2> Reach Potential Buyers & Tenants</h2>
            <p> List your property with us today! Whether you're looking to sell or rent out your apartment, our
                platform connects you with the right audience quickly and easily </p>
        </div>
    </div> <!-- Add Property Form -->
    <div class="add-property" id="addProperty">
        <h2>List your Apartment Now!</h2>
        <form id="propertyForm"> <input type="text" id="title" placeholder="Property Title" required> <input type="text"
                id="city" placeholder="City (Oran, Algiers...)" required> <input type="text" id="type"
                placeholder="Type (Villa, Apartment...)" required> <input type="number" id="price"
                placeholder="Price (DZD)" required> <input type="url" id="image" placeholder="Image URL" required>
            <button type="submit">Add</button> </form>
    </div>
    <footer class="footer">
        <div class="estate" id="darna">
            <h2>Darna.dz</h2>
            <p>When you're ready for a change, we're ready to help</p>
                    <div class="social">
                <div  class="icon"  > <img src="https://i.postimg.cc/BQwB9Ktm/facebook.png" alt="logo"> </div>
                <div class="icon"> <img src="https://i.postimg.cc/2SbFzSZr/insta.png" alt="logo"> </div>
                <div class="icon"> <img src="https://i.postimg.cc/kg0NDPQ8/linkedin.png" alt="logo"> </div>
                <div class="icon"> <img src="https://i.postimg.cc/Wz1gxNVR/twitter.png" alt="logo"> </div>
            </div>
        </div>
 
        <div class="about">
            <h4>Company</h4>
            <p>About</p>
            <p>Contact</p>
            <p>Career</p>
            <p>Blog</p>
        </div>
        <div class="about">
            <h4>Support</h4>
            <p>Help Center</p>
            <p>Support</p>
            <p>Management</p>
            <p>Privacy & Policy</p>
        </div>
        <div class="about">
            <h4>About</h4>
            <p>Privacy & Policy</p>
            <p>Terms & Conditions</p>
            <p>For Businesses</p>
            <p>Support</p>
        </div>
[4/19/2026 11:55 AM] khålêÐ✌️👑 am._.o: <div class="store"> <img src="https://i.postimg.cc/C1TVv5j1/app-store.png" alt="image"> <img
                src="https://i.postimg.cc/763rj4VN/playstore.png" alt="image"> </div>
    </footer>
    <script type="module" src="script.js"></script>
    <link rel="icon" href="https://i.postimg.cc/htCbVtzQ/logo.png">
    </body>

</html>
[4/19/2026 11:56 AM] khålêÐ✌️👑 am._.o: @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --navbar-color: #142130; 
    --white: #EFEFEF; 
    --button: #3D768A; 
    --icon-bg: #DEE8FA; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 1rem;
}

    .header .navBar ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .header .navBar ul li {
            list-style-type: none;
            padding: 0 1.5rem;
        }

            .header .navBar ul li a {
                text-decoration: none;
                color: var(--navbar-color);
                font-weight: 700;
                font-size: 1rem;
            }

    .header .login .btn, .header .login .btn2 {
        width: 150px;
        height: 45px;
        border: none;
        outline: none;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        cursor: pointer;
        margin: 0 .4rem;
        font-size: 1rem;
    }

        .login .btn, .login .btn2 {
            background-color: var(--icon-bg);
            color: var(--navbar-color);
            box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, .1);
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
        }

            .login .btn:hover, .login .btn2:hover { background: var(--button); color: var(--white); }

/*MAIN*/

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
}

    .main .main-content .text { width: 500px; }
        .main .main-content .text h1 {
            font-size: 3.2rem;
            color: var(--navbar-color);
            font-weight: 900;
        }

        .main .main-content .text p {
            color: var(--navbar-color);
            font-weight: 400;
            margin-top: 2rem;
        }

    .main .main-content .select {
        margin-top: 4rem;
        width: 600px;
        height: 80px;
        background-color: var(--white);
        box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, .1);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }

        .main .main-content .select-dropdown, .main .main-content .select-dropdown * { 
            margin: 0; 
            padding: 0;
            position: relative;
            box-sizing: border-box;
        }

            .main .main-content .select-dropdown {
                position: relative;
                background-color: transparent;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
            }

                .main .main-content .select-dropdown:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    width: 0;
                    height: 0;
                    margin-top: -2px;
                    border-top: 5px solid #AAAAAA;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                }
                [4/19/2026 11:55 AM] khålêÐ✌️👑 am._.o: <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darna.dz</title>
    <link rel="stylesheet" href="style.css">
</head>
<div>
    <header class="header">
        <div class="logo">
            <div class="menu-toggle">☰</div> <img src="https://i.postimg.cc/htCbVtzQ/logo.png" alt="logo">
        </div>
        <nav class="navBar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a  href="#ownerSection">Contact</a></li>
                <li><a href="#houses">Browse House</a></li>
                <li><a href="#addProperty">Sell your house</a></li>
            </ul>
        </nav>
         <div class="buttons-container">
    <a href="creat.html" class="btn create">Create Account</a>
    <a href="creat.html" class="btn login">Login </a>
</div>

 
</div>
    </header>
    <div class="main">
        <div class="main-content">
            <div class="text">
                <h1>When you're ready for a change, we're ready to help</h1>
                <p>Our team is here to support you every step of the way. Let's embark on this journey together and
                    create the future you desire!</p>
            </div>
            <div class="select">
                <div class="select-dropdown"> <select>
                        <option value="option 1">Djelfa</option>
                        <option value="option 2">tiarte</option>
                        <option value="option 3">Saïda</option>
                    </select> </div>
                <div class="select-dropdown"> <select>
                        <option value="option 1">Duplex House</option>
                        <option value="option 2">Triplex House</option>
                    </select> </div>
                <div class="select-dropdown"> <select>
                        <option value="option 1">$150.000 - $249.999</option>
                        <option value="option 2">$250.000 - $399.999</option>
                        <option value="option 3">$400.000 - $499.999</option>
                    </select> </div>
                <div class="select-btn"> <img src="https://i.postimg.cc/YCs7ZQLr/search.png" alt="icon"> </div>
            </div>
        </div>
        <div class="img"> <img src="https://i.postimg.cc/9Qr5dz8v/house-1.png" alt="image"> </div>
    </div>
    <div class="main2">
        <h1>Why choose us</h1>
        <div class="main-card">
            <div class="card">
                <div class="icon-img"> <img src="https://i.postimg.cc/QC4MxCdh/tax.png" alt="icon"> </div>
                <h3>Tax Advantages</h3>
                <p>When you choose our company, you can take advantage of various tax benefits, including mortgage
                    interest deductions, property tax deductions and depreciation benefits for rental properties</p>
            </div>
            <div class="card">
                <div class="icon-img"> <img src="https://i.postimg.cc/t4yXQF5W/property.png" alt="icon"> </div>
                <h3>Property insurances</h3>
                <p>We give to our customers insurances that includes protection for your home and personal belongings
                    from damages or theft and protection against damages caused by flooding, not typically covered by
                    homeowners insurance</p>
            </div>
            <div class="card">
                <div class="icon-img"> <img src="https://i.postimg.cc/8PN3T42p/com.png" alt="icon"> </div>
                <h3>Lowest Comission</h3>
                <p>We are proud to offer the lowest commissions to our valued customers! Your satisfaction is our
                    priority!</p>
            </div>
            <div class="card">
                <div class="icon-img"> <img src="https://i.postimg.cc/SxjgKvDh/money.png" alt="icon"> </div>
                <h3>Best Prices</h3>
                <p>We are proud to offer you the best prices in the market! Your dream home is just a click away. Let us
                    help you find it!</p>
[4/19/2026 11:55 AM] khålêÐ✌️👑 am._.o: </div>
        </div>
    </div>
 <div class="explore">
    <div class="img-exp"> 
        <img src="https://i.postimg.cc/QN7zcCLy/house-2.png" alt="image"> 
    </div>
    <div class="content-exp">
        <h2>We are all biochemically unique. Buying or selling your home should be, too</h2>
        <p>
            Just as our fingerprints are individual, so too are our needs and desires when it comes to finding the
            perfect home. The traditional, one-size-fits-all approach to real estate simply doesn't resonate with
            this truth. We take the time to truly understand your specific needs, aspirations, and anxieties,
            tailoring our services to create a personalized experience that reflects your individuality
        </p>

        <!-- هذا هو التصحيح -->
        <a href="#darna" class="btn-exp">Explore More</a>

    </div>
</div>
    <div class="houses" id="houses">
        <div class="content-house">
            <div class="text-house">
                <h2>Our trending latest property</h2>
                <p> Our latest listings feature properties in sought-after locations, with unique designs and
                    sustainable features that cater to the evolving preferences of buyers</p>
            </div>
            <div class="select-dropdown"> <select>
                    <option value="option 1">Buy</option>
                    <option value="option 2">Rent</option>
                </select> </div>
        </div>
        <div class="house-box">
            <div class="box">
                <div class="box-img"> <img src="https://i.postimg.cc/4NnLDwL7/card-1.png" alt="image"> </div>
                <div class="box-content">
                    <div class="box-text">
                        <h3>Contemporary Architectural Style House</h3>
                        <h3 class="price">$321.000</h3>
                    </div>
                    <div class="rooms">
                        <div class="room"> <img src="https://i.postimg.cc/fLGc1jJX/bed.png" alt="icon">
                            <p>3 Bedrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Bvt26wFH/bath.png" alt="icon">
                            <p>3 Bathrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Wp0ghZdW/kitchen.png" alt="icon">
                            <p>1 Kitchen</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/MGcjxfkY/area.png" alt="icon">
                            <p>1000 Sq. Fit</p>
                        </div>
                    </div>
                    <div class="box-btn">
                        <div class="view"> <button class="btn">View Details</button> </div>
                        <div class="share">
                            <div class="share-box"> <img src="https://i.postimg.cc/CL1hWTpG/like.png" alt="icon"> </div>
                            <div class="share-box"> <img src="https://i.postimg.cc/vBhyNXP2/share.png" alt="icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-img"> <img src="https://i.postimg.cc/L50pH5Fz/card-2.png" alt="image"> </div>
                <div class="box-content">
                    <div class="box-text">
                        <h3>Minimalist Contemporary Architectural Style House</h3>
                        <h3 class="price">$360.000</h3>
                    </div>
                    <div class="rooms">
                        <div class="room"> <img src="https://i.postimg.cc/fLGc1jJX/bed.png" alt="icon">
                            <p>4 Bedrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Bvt26wFH/bath.png" alt="icon">
                            <p>3 Bathrooms</p>
                        </div>
[4/19/2026 11:55 AM] khålêÐ✌️👑 am._.o: <div class="room"> <img src="https://i.postimg.cc/Wp0ghZdW/kitchen.png" alt="icon">
                            <p>1 Kitchen</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/MGcjxfkY/area.png" alt="icon">
                            <p>1150 Sq. Fit</p>
                        </div>
                    </div>
                    <div class="box-btn">
                        <div class="view"> <button class="btn">View Details</button> </div>
                        <div class="share">
                            <div class="share-box"> <img src="https://i.postimg.cc/CL1hWTpG/like.png" alt="icon"> </div>
                            <div class="share-box"> <img src="https://i.postimg.cc/vBhyNXP2/share.png" alt="icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-img"> <img src="https://i.postimg.cc/52BRgyKn/card-3.png" alt="image"> </div>
                <div class="box-content">
                    <div class="box-text">
                        <h3>Mediterranean Colonial Style House</h3>
                        <h3 class="price">$310.000</h3>
                    </div>
                    <div class="rooms">
                        <div class="room"> <img src="https://i.postimg.cc/fLGc1jJX/bed.png" alt="icon">
                            <p>4 Bedrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Bvt26wFH/bath.png" alt="icon">
                            <p>4 Bathrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Wp0ghZdW/kitchen.png" alt="icon">
                            <p>1 Kitchen</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/MGcjxfkY/area.png" alt="icon">
                            <p>1300 Sq. Fit</p>
                        </div>
                    </div>
                    <div class="box-btn">
                        <div class="view"> <button class="btn">View Details</button> </div>
                        <div class="share">
                            <div class="share-box"> <img src="https://i.postimg.cc/CL1hWTpG/like.png" alt="icon"> </div>
                            <div class="share-box"> <img src="https://i.postimg.cc/vBhyNXP2/share.png" alt="icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-img"> <img src="https://i.postimg.cc/g2gBQQdZ/card-4.png" alt="image"> </div>
                <div class="box-content">
                    <div class="box-text">
                        <h3>Mid-century Modern Residential Style House</h3>
                        <h3 class="price">$495.000</h3>
                    </div>
                    <div class="rooms">
                        <div class="room"> <img src="https://i.postimg.cc/fLGc1jJX/bed.png" alt="icon">
                            <p>5 Bedrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Bvt26wFH/bath.png" alt="icon">
                            <p>4 Bathrooms</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/Wp0ghZdW/kitchen.png" alt="icon">
                            <p>1 Kitchen</p>
                        </div>
                        <div class="room"> <img src="https://i.postimg.cc/MGcjxfkY/area.png" alt="icon">
                            <p>1600 Sq. Fit</p>
                        </div>
                    </div>
                    <div class="box-btn">
                        <div class="view"> <button class="btn">View Details</button> </div>
                        <div class="share">
[4/19/2026 11:55 AM] khålêÐ✌️👑 am._.o: <div class="share-box"> <img src="https://i.postimg.cc/CL1hWTpG/like.png" alt="icon"> </div>
                            <div class="share-box"> <img src="https://i.postimg.cc/vBhyNXP2/share.png" alt="icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clients">
        <div class="left">
            <div class="img-cust"> <img src="https://i.postimg.cc/bNPjx730/clients.png" alt="image" class="customer">
            </div>
        </div>
        <div class="right">
            <h2>What our clients are saying</h2>
            <p>I am pleased and blessed with my experience with Real Estate. They have the most professional and kindest
                team. Real Estate went above and beyond, and I am so grateful for their help</p>
            <div class="name">
                <h4>Alonso Bloodworth</h4>
                <p>9236 Valley Rd.Quakertown, PA 18951</p>
            </div>
        </div>
    </div>
    <div class="owner"id="ownerSection"  >
        <div class="owner-text">
            <h2>Are you a property owner?</h2>
            <p>Put your email address and get listed</p>
        </div>
        <div class="subscribe">
            <form id="subscribeForm"> <img src="https://i.postimg.cc/hjKYYd32/send.png" alt="icon"> <input type="email"
                    id="emailInput" spellcheck="false" placeholder="Enter your email"> <input type="submit"
                    value="Submit" id="search"> </form>
        </div>
    </div>
    <div class="clients">
        <div class="left">
            <div class="img-cust"> <img
                    src="images/pngtree-a-3d-modeled-house-in-a-shopping-cart-with-a-sold-image_3762453.jpg" alt="image"
                    class="customer"> </div>
        </div>
        <div class="right">
            <h2> Reach Potential Buyers & Tenants</h2>
            <p> List your property with us today! Whether you're looking to sell or rent out your apartment, our
                platform connects you with the right audience quickly and easily </p>
        </div>
    </div> <!-- Add Property Form -->
    <div class="add-property" id="addProperty">
        <h2>List your Apartment Now!</h2>
        <form id="propertyForm"> <input type="text" id="title" placeholder="Property Title" required> <input type="text"
                id="city" placeholder="City (Oran, Algiers...)" required> <input type="text" id="type"
                placeholder="Type (Villa, Apartment...)" required> <input type="number" id="price"
                placeholder="Price (DZD)" required> <input type="url" id="image" placeholder="Image URL" required>
            <button type="submit">Add</button> </form>
    </div>
    <footer class="footer">
        <div class="estate" id="darna">
            <h2>Darna.dz</h2>
            <p>When you're ready for a change, we're ready to help</p>
                    <div class="social">
                <div  class="icon"  > <img src="https://i.postimg.cc/BQwB9Ktm/facebook.png" alt="logo"> </div>
                <div class="icon"> <img src="https://i.postimg.cc/2SbFzSZr/insta.png" alt="logo"> </div>
                <div class="icon"> <img src="https://i.postimg.cc/kg0NDPQ8/linkedin.png" alt="logo"> </div>
                <div class="icon"> <img src="https://i.postimg.cc/Wz1gxNVR/twitter.png" alt="logo"> </div>
            </div>
        </div>
 
        <div class="about">
            <h4>Company</h4>
            <p>About</p>
            <p>Contact</p>
            <p>Career</p>
            <p>Blog</p>
        </div>
        <div class="about">
            <h4>Support</h4>
            <p>Help Center</p>
            <p>Support</p>
            <p>Management</p>
            <p>Privacy & Policy</p>
        </div>
        <div class="about">
            <h4>About</h4>
            <p>Privacy & Policy</p>
            <p>Terms & Conditions</p>
            <p>For Businesses</p>
            <p>Support</p>
        </div>
[4/19/2026 11:55 AM] khålêÐ✌️👑 am._.o: <div class="store"> <img src="https://i.postimg.cc/C1TVv5j1/app-store.png" alt="image"> <img
                src="https://i.postimg.cc/763rj4VN/playstore.png" alt="image"> </div>
    </footer>
    <script type="module" src="script.js"></script>
    <link rel="icon" href="https://i.postimg.cc/htCbVtzQ/logo.png">
    </body>

</html>
[4/19/2026 11:56 AM] khålêÐ✌️👑 am._.o: @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --navbar-color: #142130; 
    --white: #EFEFEF; 
    --button: #3D768A; 
    --icon-bg: #DEE8FA; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 1rem;
}

    .header .navBar ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .header .navBar ul li {
            list-style-type: none;
            padding: 0 1.5rem;
        }

            .header .navBar ul li a {
                text-decoration: none;
                color: var(--navbar-color);
                font-weight: 700;
                font-size: 1rem;
            }

    .header .login .btn, .header .login .btn2 {
        width: 150px;
        height: 45px;
        border: none;
        outline: none;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        cursor: pointer;
        margin: 0 .4rem;
        font-size: 1rem;
    }

        .login .btn, .login .btn2 {
            background-color: var(--icon-bg);
            color: var(--navbar-color);
            box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, .1);
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
        }

            .login .btn:hover, .login .btn2:hover { background: var(--button); color: var(--white); }

/*MAIN*/

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
}

    .main .main-content .text { width: 500px; }
        .main .main-content .text h1 {
            font-size: 3.2rem;
            color: var(--navbar-color);
            font-weight: 900;
        }

        .main .main-content .text p {
            color: var(--navbar-color);
            font-weight: 400;
            margin-top: 2rem;
        }

    .main .main-content .select {
        margin-top: 4rem;
        width: 600px;
        height: 80px;
        background-color: var(--white);
        box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, .1);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }

        .main .main-content .select-dropdown, .main .main-content .select-dropdown * { 
            margin: 0; 
            padding: 0;
            position: relative;
            box-sizing: border-box;
        }

            .main .main-content .select-dropdown {
                position: relative;
                background-color: transparent;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
            }

                .main .main-content .select-dropdown:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    width: 0;
                    height: 0;
                    margin-top: -2px;
                    border-top: 5px solid #AAAAAA;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                }
[4/19/2026 11:56 AM] khålêÐ✌️👑 am._.o: .main .main-content .select-dropdown select {
                    font-size: 1rem;
                    font-weight: normal;
                    max-width: 100%;
                    padding: 8px 24px 8px 10px;
                    border: none;
                    background-color: transparent;
                    appearance: none;
                }

                    .main .main-content .select-dropdown select:active, .main .main-content .select-dropdown select:focus { outline: none; box-shadow: none; }

        .main .main-content .select-btn img {
            background-color: var(--button);
            padding: 0.4rem;
            cursor: pointer;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }


    .main .img {
        width: 420px;
        height: 320px;
    }

        .main .img img {
            border-radius: 71% 29% 27% 73% / 37% 53% 47% 63%;
            -webkit-border-radius: 71% 29% 27% 73% / 37% 53% 47% 63%;
            -moz-border-radius: 71% 29% 27% 73% / 37% 53% 47% 63%;
            -ms-border-radius: 71% 29% 27% 73% / 37% 53% 47% 63%;
            -o-border-radius: 71% 29% 27% 73% / 37% 53% 47% 63%;
            width: 100%;
        }

.main2 { margin-top: 15%; }

    .main2 h1 {
        text-align: center;
        color: var(--navbar-color);
        font-size: 2.8rem;
    }

    .main2 .main-card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
    }

        .main2 .main-card .card {
            margin-top: 6rem;
            width: 320px;
            height: 350px;
            background-color: #F8F8F8;
            text-align: center;
            padding: 1.25rem 1rem;
            border: 1px solid var(--button);
            box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, .1);
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
        }

            .main2 .main-card .card .icon-img {
                background-color: #E8E8E8;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                width: 75px;
                height: 75px;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, .1);
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .main2 .main-card .card .icon-img img { padding: 1.25rem; }

            .main2 .main-card .card h3 {
                margin-top: 2rem;
                color: var(--navbar-color);
                font-size: 1.4rem;
            }

            .main2 .main-card .card p {
                margin-top: 1.5rem;
                color: var(--navbar-color);
                font-weight: 300;
                font-size: .85rem;
            }

/*EXPLORE*/

.explore { 
    margin-top: 15%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .explore .img-exp img {
        border-radius: 32% 68% 49% 51% / 28% 53% 47% 72%;
        -webkit-border-radius: 32% 68% 49% 51% / 28% 53% 47% 72%;
        -moz-border-radius: 32% 68% 49% 51% / 28% 53% 47% 72%;
        -ms-border-radius: 32% 68% 49% 51% / 28% 53% 47% 72%;
        -o-border-radius: 32% 68% 49% 51% / 28% 53% 47% 72%;
    }

    .explore .content-exp { width: 550px; }
        .explore .content-exp h2 { color: var(--navbar-color); font-size: 1.8rem; }

        .explore .content-exp p {
            margin-top: 2rem;
            color: var(--navbar-color);
            font-weight: 400;
            font-size: .9rem;
        }